# zsh
zsh/.config/zsh/histfile
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/plugins/*
zsh/.config/zsh/zsh-uncommited

# nvim
nvim/.config/nvim/undodir/*
nvim/.config/nvim/plugin/*

# qutebrowser
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks

# bpytop
bpytop/.config/bpytop/error.log

# keyd
keyd/.config/keyd/app.log
